{% extends "layout.html" %}

{% block body %}
<h3>Dashboard</h3>
<hr>
<p>
    Welcome, <small>{{request.user.username}}</small>
</p>


<canvas id="myChart"></canvas>

<canvas id="linechart"></canvas>

{% if context %}

{% else %}


{% endif %} 
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',
    
        // The data for our dataset
        data: {
            labels: {{ topics | safe}},
            datasets: [{
                label: 'TAMU Twitter Sentiment on Extracted Topics during August',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data:  {{scores | safe}}
            }]
        },
    
        // Configuration options go here
        options: {}
    });
</script> 



<script>
    var ctx = document.getElementById("linechart").getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
    
        // The data for our dataset
        data: {
            labels: {{ dates | safe }},
            datasets: [
            {% for i in data %}
            {{ i | safe}} ,
            {% endfor %}
            ]
        },
    
        // Configuration options go here
        options: {}
    });
</script>



{% endblock body %}

